.one{
    padding: 15px 10px;
    width: 350px;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.7);
    margin: 0 auto;
    text-align: center;
    color: green;
    font-size: 20px;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}